.content {
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 60px auto 40px;
    height: 100vh;
}
.header {
    grid-area: header;
    background-color: azure;
    text-align: center;
    padding: 10px;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(15, 122, 42);
    text-align: center;
    padding: 10px;
}
.main {
    grid-area: main;
    background-color: rgb(136, 119, 26);
    text-align: center;
    padding: 10px;
}
.footer {
    grid-area: footer;
    background-color: rgb(143, 32, 153);
    text-align: center;
    padding: 10px;
}